@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

/* Estilos GLOBALES */
*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: black;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow-x: hidden;
}

img {
    width: 80%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
    
}

.just {
    font-family: 'Poppins', sans-serif;
    text-align: justify;

}
.justos{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: x-large;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
    
}

/* HEADER */
header {
width: 100%;
position: absolute; /*Esta linea nos ayuda a que quede fijo el header*/
top: 0;
left: 0;
z-index: 1;
background-color: #000;

/* background-image: linear-gradient(to bottom, rgba (0,0,0,.5) transparent); */
}
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* Seccion para que el menú sea responsivo en el celular */
.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer; /*Para que aparezca la manita*/
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color:#b2bb1f;
}

/* HERO HEADER */
.hero {
    width: 100%;
    height: 70vh;
    background: url("../Img/fondototal.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px  0px 0px white,
                 0px  1px 0px white,
                -1px  0px 0px white,
                 0px -1px 0px white;
    opacity: 1;
}
/* Texto que se encuentra en el HEADER */
.h2-sub {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #000 ;
    font-weight: 600;
    line-height: .4;
    
}

.fil {
    text-decoration: uppercase;
    font-size: 3rem;
}

.head {
    color: #000;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #b2bb1f;
    margin: 0 1.6rem;
}

/* .he-des h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
} */

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px
}
/* DISEÑO para los BOTONES */
.cta-btn {
    font-size: 1.1rem;
    background-color: #F8971D;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #ffd201;
}

.global {
    text-align: center;
    margin-top: 3.9rem;
    /* color: white;
    text-shadow: 1px  0px 0px white,
               0px  1px 0px white,
              -1px  0px 0px white,
               0px -1px 0px white; */
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: #b2bb1f;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #ED1C2E;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
  letter-spacing: -1px; 
  line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
line-height: 1.6;
margin-bottom: 2.4rem;
}

/* SECCIÓN del MENÚ */
.taste {
    background: url("../Img/amarrillop.avif") center no-repeat; /*Cambio de imagen para el banner*/
    background-size: cover;
    color: white;
    text-shadow: 1px  0px 0px white,
                 0px  1px 0px white,
                -1px  0px 0px white,
                 0px -1px 0px white;
}

.bt {
    min-width: 65vh;
    display: flex;
    align-items: center;
}

/* APARTADO de 'PLATILLOS' */

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-left: 3rem;
    margin-top: 20rem;
   
}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.pb {
    background: url("../Img/amarrillop.avif" ) center no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px  0px 0px white,
                 0px  1px 0px white,
                -1px  0px 0px white,
                 0px -1px 0px white;
}

/* FOOTER */
footer {
   padding-top: 2%;
    padding: 10 10 10;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle {
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4 rem;
}

.footer-content-about p {
    list-style: none;
}
.footer-content{
    width: 100%;
    height: 10%;
}

/* PARA LOS ICONOS REDES SOCIALES */

.social-icons {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color:#b2bb1f;
    padding: .8rem 2rem;
}
/* Para CAMBIO de color en los iconos de las REDES SOCIALES */
.social-icons i:hover,
.social-icons i:focus {
    color: #ffd201;
}

.news-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.news-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.news-btn {
    background: transparent;
    border: none;
    /* color: #b2bb1f; */
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 30%;
    margin-left: 20.5rem;
}

@media screen and (min-width: 900px) {
    section {
        padding: 7.9rem;
    }
    .menu-toggle {
        display: none;
    }
    .nav {
        justify-content: space-between;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
.nav-item{
    margin: 0 2.4rem;
}
.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-size: 1.3rem;
}

.active {
    position: relative;
}
/* Para el menú */
.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /* background-color: #fff; */
    left: 0;
    bottom: -3px;
}
.h2-sub {
    font-size: 3rem;
}
.fil {
    font-size: 3rem;
}
.head {
    font-size: 4.7rem;
    letter-spacing: .8rem;
}
.res-info {
    display: flex;
    align-items: center;
}
.res-info > div {
    flex: 1;
    text-align: center;
}
.pad-rig {
    padding-right: 7rem;
}
.footer-content {
    max-width: 77.5rem;
    margin: auto;
}
.footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
}
.footer-div {
    display: flex;
    justify-content: space-between;
}
.social-media,
.news-form {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
}
.news-btn {
    margin-left: 7.5rem;
}
}

/* PARA EL HORARIO */
/* .page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  } */

  .cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(255, 227, 232, 0.9);
  }
  .cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
  }
  .cta .cta-inner:before {
    border-radius: 0.5rem;
    content: "";
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
    z-index: -1;
  }
  
  .footer {
    background-color: rgba(255, 227, 232, 0.9);
  }
  
  .intro {
    position: relative;
  }
  @media (min-width: 992px) {
    .intro .intro-img {
      width: 75%;
      float: right;
    }
    .intro .intro-text {
      left: 0;
      width: 60%;
      margin-top: 3rem;
      position: absolute;
    }
    .intro .intro-text .intro-button {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
    }
  }
  @media (min-width: 1200px) {
    .intro .intro-text {
      width: 45%;
    }
  }
  
  @media (min-width: 992px) {
    .product-item .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw;
    }
    .product-item .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
  }
  
  .list-hours {
    font-size: 0.9rem;
  }
  .list-hours .list-hours-item {
    border-bottom: 1px solid rgba(0, 0, 255, 0.8);
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    font-style: italic;
  }
  .list-hours .list-hours-item.today {
    font-weight: bold;
    color: #0d6efd;
  }
  @media (min-width: 992px) {
    .list-hours {
      width: 50%;
      font-size: 1.1rem;
    }
  }
  
  .address strong {
    font-size: 1.2rem;
  }
  /* PARA EL MENU  */
/* Anuncios */
@media (min-width: 768px){
    .contenedor-anuncios{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;    
    }
}
.anuncios {
    flex-shrink: 0;
    border: 1px solid #b5b5b5;
    background-color: #f5f4f5;
    margin-bottom: 2rem;
    
}
.xh{
    margin: 10px;
}

@media (min-width: 768px){
    .anuncios {
        flex-basis: calc(33.3% - 1rem);
    }
}
.contenedor-anuncio {
    padding: 2rem;
    text-align: center;
    
}
.contenedor-anuncio h3,
.contenedor-anuncio p {
    margin: 0;
}

.precio {
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas {
list-style: none;
padding: 0;
display: flex;
justify-content: space-evenly;
flex: 1;
max-width: 500px;
}
.iconos-caracteristicas li{
    display: flex;
}

.iconos-caracteristicas li img {
 margin-right: 2rem;
}
.ver-todas {
    /* Revisar detalle con Flex-box */
    /* display: flex;
    justify-content: flex-end; */
    float: right;
}
/* Contacto Home */
.imagen-contacto {
    margin-top: 10rem;
    background-image: url(../img//encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.contenido-contacto {
    flex: 0 0 95%;
    color: #fff;
}
.contenido-contacto p {
    font-size: 1.8rem;
}

/* Sección Inferior */
@media (min-width: 768px) {
    .seccion-inferior {
    display: flex;
    justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
      flex-basis: calc(40% - 2rem);  
    }
}
.entrada-blog {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}
.texto-entrada a {
    color: #000;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 10px;
}
.texto-entrada span {
    color: #E08709;
}
.centrar-texto{
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* PARA LAS RESERVACIONES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  .form-register {
    width: 400px;
    background: #aebb39;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

/* PARA EL CONTACTO */
  /* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fa996c; 
  padding-left: 30px; 
  box-shadow: 7px 13px 37px #000;
}


input{
  background-color: #fbfbfb; 
  width: 350px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #000; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


.textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ED1C2E; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #1f53c5; 
  border-color: #000; 
  border-style: solid; 
  border-radius: 10px;  
  width: 350px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


/* span{
  color: #ab4493; 
} */


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #fff;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #000; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
